<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Left side: Accueil -->
        <div class="flex items-center">
            <img src="/images/logo-loco.png" alt="logo" style="height: 30px; width: 30px; border-radius: 100px;" class="mr-2">
            <a href="/" class="text-white font-bold text-xl">Loco</a>
        </div>
        <!-- Right side: Listes, Recettes, Stock, Profile Icon -->
        <div class="flex items-center space-x-6">
            <a href="/listes" class="text-gray-300 hover:text-white transition">Listes</a>
            <a href="/recettes" class="text-gray-300 hover:text-white transition">Recettes</a>
            <a href="/stock" class="text-gray-300 hover:text-white transition">Stock</a>
            <a href="/profil" class="text-gray-300 hover:text-white transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>
            </a>
        </div>
    </div>
</nav>